@import url(https://fonts.googleapis.com/css?family=Fira+Sans|);
@font-face
{
	font-family: walkwayBlack;
    src: url("../styles/Walkway_Black.ttf");
}
@font-face
{
	font-family: aero;
    src: url("../styles/Aero.ttf");
}
*
{
	margin:0px;
	padding:0px;
}
body
{
	background:url("../images/background.png");
	background-color:#ffffff;
	overflow-y:hidden;
}

/*--------------------------------------------------------------------------------------*/
/***** Navbar section start *****/

@media only screen and (min-width: 1200px)
{
	#menuBtn, #menuTxt, #mobileMenu
	{
		display:none !important;
	}
	.menu
	{
		display:block !important;
	}
	footer h3
	{
		font-size:16px !important;
	}
}
@media only screen and (max-width:450px)
{
	#menuTxt
	{
		display:none !important;
	}
	footer img
	{
		display:none !important;
	}
}
@media only screen and (max-width:600px)
{
	footer h4
	{
		display:none !important;
	}
	footer img
	{
		margin-left:-150px;
	}
}
header
{
	position:fixed;
	top:0;
	left: 0;
    right: 0;
    width: 100%;
}
.navbarPre
{
	padding: 6px 0 6px 0;
    background-color: rgba(10, 18, 119, 0.1);
    width: 100%;
    opacity:0;
    transition: opacity 1s ease-out;
    border-bottom:#172f6d 2px solid;
}
.navbarPostMain
{
	padding: 6px 0 6px 0;
    background-color: rgba(10, 18, 119, 0.1);
    width: 100%;
    opacity:1;
    transition: opacity 2s ease-out;
    border-bottom:#172f6d 2px solid;
    height:86px;
}
.navbarPost
{
	padding: 6px 0 6px 0;
    background-color: rgba(10, 18, 119, 0.1);
    width: 100%;
    opacity:1;
    transition: opacity 2s ease-out;
    border-bottom:#172f6d 2px solid;
    height:86px;
}
.logo
{
	width:auto;
	margin-left:20px;
	float:left;
	position:fixed;
	user-select: none;
}
.menu{
	display:none;
	float:left;
	margin-top:30px;
	width:100%;
	text-align:center;
	user-select: none;
}
.menu li
{
	display: inline-block;
	margin-left:125px;
}
.menu a
{
	font-family:"walkwayBlack";
	color:#0a1a44;
	font-size:25px;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:5px;
	transition:text-shadow 0.25s ease;
	margin-left:35px;
	font-weight:bold;
}
.menu a:hover
{
	text-shadow:0 0 5px black;
	text-decoration:none !important;
	color: #0a1a44 !important;
}

/* Mobile screen navbar - <1200px */
#menuTxt
{
	display:block;
	position:absolute;
	top: 36px;
    right: 70px;
	font-family:"walkwayBlack";
	color:#0a1a44;
	font-size:25px;
	text-decoration:none;
	text-transform:uppercase;
	cursor:pointer;
	letter-spacing:5px;
	user-select: none;
}
#menuBtn
{
	cursor:pointer;
	display:block;
	position: absolute;
    top: 34px;
    right: 20px;
    width: 40px;
    height: 30px;
}
#menuBtn div
{
	display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #000000;
    border-radius: 10px;
  	transition: .25s ease-in-out;
  	left:0;
}
#menuBtn div:nth-child(1)
{
	top:0px;
}
#menuBtn div:nth-child(2),#menuBtn div:nth-child(3)
{
	top:12px;
}
#menuBtn div:nth-child(4)
{
	top:24px;
}
#menuBtn.openMenu div:nth-child(2)
{
  transform: rotate(45deg);
}
#menuBtn.openMenu div:nth-child(3)
{
  transform: rotate(-45deg);
}
#menuBtn.openMenu div:nth-child(1),#menuBtn.openMenu div:nth-child(4)
{
	top:12px;
	width:0%;
	left:50%;
}
#mobileMenu
{
	display:block;
	height: 0%;
	width: 100%;
	position:fixed;
	top:86px;
	left:0;
    background-color: rgb(0,0,0);
    background-color:  rgba(2, 2, 23, 0.9);
    transition:0.75s;
    overflow-y:hidden;
    z-index: 1;
}
#mobileLinks
{
	position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    user-select: none;
}
#mobileLinks a {
	font-family:"walkwayBlack";
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #275ade;
    display: block;
    transition: 0.3s;
    text-transform:uppercase;
    letter-spacing:5px;
}
#mobileLinks a:hover
{
	text-shadow:0 0 4px #666666;
}

/***** Navbar section end *****/
/*--------------------------------------------------------------------------------------*/
/***** content section start *****/
.contentPre
{
	text-align:center;
	width:100%;
	height:400px;
	background: orange;
	margin-top:15px;
    opacity:0;
    transition: opacity 2s ease-out;
}
.contentPost
{
	text-align:center;
	width:100%;
	height:400px;
	margin-top:25px;
    opacity:1;
    transition: opacity 2s ease-out;
    z-index:-1;
}
#content div
{
	width:95%;
	background:#ffffff;
	height:60px;
    margin: 20px 15px;
}
#content img
{
	height:230px;
	margin-top:30px;
}
#content h2
{
	margin-top: 10px;
    font-family: "aero";
    font-size: 25px;
    color: #0a1a44;
    letter-spacing: 2px;
}
#homeText
{
	margin-top:150px;
	text-align: center;
	color:#0a1a44;
	text-decoration:underline;
}
#stock
{
	display:inline-flex;
}
#stock table
{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px #0a183a solid;
    border-radius: 5px;
}
#stock tbody
{
	display:grid;
	width:100%;
}
#stock tr
{
    margin-top: 5px !important;
    margin-bottom: auto;
    color:#0a1a44;
    width:100%;
    border-bottom: 2px solid black;
}
#stock tr:last-of-type
{
	margin-top: auto;
    margin-bottom: auto;
    color:#0a1a44;
    width:100%;
    border-bottom:none !important;
}
#stock th
{
	width:300px;
}
#stock td
{
	width:350px;
}
#stock form input
{
    border-radius: 10px;
    border-width:1px;
    max-width: 100px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;
    width:30%;
}
#stock form #submit{
	color:white;
    width: 33%;
    max-width: 120px;
}
#stock form
{
	color:inherit;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    width:100%;
}
#searchBar
{
    width: 350px;
    height: 37px;
    position: absolute;
    top: 187px;
    right: 0;
}
#searchForm
{
	z-index: -1;
}
#searchForm input
{
    border: 2px solid #0b0b58;
    border-radius: 6px;
    width: 250px;
    height: 30px;
}
#searchForm button
{
    border-radius: 6px;
    width: 55px;
    height: 34px;
}
/***** content section end *****/
/*--------------------------------------------------------------------------------------*/
/***** Footer start *****/

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(31, 39, 99, 0.25);;
    height: 80px;
}
footer img
{
	height:40px;
	position:fixed;
	bottom:20px;
}
#imgFacebook
{
	left:150px;
}
#imgTwitter
{
	left:195px;
}
#imgInstagram
{
	left:240px;
}
footer h4
{
	color: #aaaaaa;
    text-transform: uppercase;
    position: fixed;
    left: 30px;
    bottom: 31px;
    font-size: 18px;
    letter-spacing: 1.25px;
    font-family: "aero";
}
footer h3
{
	color: #777777;
    text-transform: uppercase;
    position: fixed;
    right: 20px;
    bottom: 31px;
    font-size: 12px;
    letter-spacing: -1px;
}
/***** Footer end *****/
/*--------------------------------------------------------------------------------------*/
/***********************************		TO-DO LIST*/
	
#stockText
{
	font-family: walkwayBlack;
  	letter-spacing:4px;
  	margin-top:35px;
  	font-size: 30px;
  	color:#0a1a44;
  	font-weight:bolder;
}
.dropdownNav
{
    position: fixed;
    right: 50px;
    cursor:pointer;
    width:100px;
}
.dropdown-content
{
	display: none;
  	position: absolute;
  	background-color: rgba(10, 18, 119, 0.1);
  	width: 150px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
  	text-align:center;
}
.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownNav:hover .dropdown-content 
{
  display: block;
}
.dropdown-content a:hover 
{
	background-color: #172f6d;
	color:white;
}
#settingsCog
{
    font-size: 50px;
    width:100%;
    text-align:center;
}
#settingsTxt
{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    user-select:none;
	margin-bottom:0px !important;
}

@media only screen and (max-width: 1199px)
{
	.dropdownNav
	{
    	right: 24%;
	}
}
@media only screen and (max-width: 650px)
{
	.dropdownNav
	{
    	display:none;
	}
}












