#settingsTable
{
	width:100%;
	margin-top:25px;
}
#settingsTable tr
{
	padding: 15px 0 15px 0;
	display:block;
    border-bottom: 2px solid #172f6d;
    border-radius: 2px;
}
#settingsTable tr:last-of-type
{
	border-bottom:none !important;
}
#settingsTable td
{
	width:22%;
}
#settingsSection
{
    width: 60%;
    overflow-x: hidden;
    overflow-x: auto;
    height: 380px;
    margin: 50px auto;
    border: 2px solid #172f6d;
    border-radius: 7px;
}
