#sidebar
{
	margin-top: 86px;
    background-color: #e6e7f1 !important;
    position:fixed;
    height:100%;
    max-width: 14%;
    min-width: 135px;
    z-index: -1;
}
.nav-item
{
	border-bottom: 2px solid #172f6d ;
	border-radius:2px;
	text-align:center;
}
.nav-item a
{
	color:#000000;
}
.nav-item a:hover
{
	color:#ffffff;
	background-color:inherit !important;
}
.nav-item a:focus
{
	color:#ffffff;
	background-color:inherit !important;
}
#lastNav
{
	border: none !important;
}
